absl-py
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types
anyascii
anyio
appdirs
applaunchservices
appnope
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse
async-lru
atomicwrites
attrs
Automat
autopep8
azure-ai-textanalytics
azure-cognitiveservices-speech
azure-common
azure-core
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
clyent
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda_index
conda-libmamba-solver
conda-pack
conda-package-handling
conda_package_streaming
conda-repo-cli
conda-token
conda-verify
confection
constantly
contourpy
contractions
cookiecutter
cryptography
cssselect
cycler
cymem
cytoolz
dask
dask-expr
dataclasses-json
datashader
deap
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
dmglib
docstring-to-markdown
docutils
duckling
en-core-web-md
en-core-web-sm
entrypoints
et-xmlfile
executing
fastjsonschema
filelock
filetype
flake8
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
frozendict
frozenlist
fsspec
future
gast
gensim
gitdb
GitPython
gmpy2
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
googletrans
greenlet
grpcio
gym
gym-notices
h11
h2
h5py
HeapDict
holoviews
hpack
hstspreload
httpcore
httplib2
httpx
huggingface-hub
hvplot
hyperframe
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipynb
ipython
ipython-genutils
ipywidgets
isodate
isoduration
isort
it-core-news-sm
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
jpype1
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
kagglehub
keras
keyboard
keyring
kiwisolver
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langcodes
langsmith
language_data
lazy_loader
lazy-object-proxy
lckr_jupyterlab_variableinspector
libarchive-c
libclang
libmambapy
lightgbm
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
ml-dtypes
more-itertools
MouseInfo
mpmath
msgpack
msrest
multidict
multipledispatch
munkres
murmurhash
mypy
mypy-extensions
namex
navigator-updater
nbclient
nbconvert
nbformat
nbimporter
neo4j
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauth2client
oauthlib
opencv-python
opencv-python-headless
openpyxl
opt_einsum
optree
orjson
outcome
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy
pexpect
pickleshare
pillow
pip
pkce
pkginfo
platformdirs
playwright
plotly
pluggy
ply
preshed
prometheus-client
prompt-toolkit
Protego
proto-plus
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyahocorasick
pyarrow
pyasn1
pyasn1-modules
PyAutoGUI
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
pydocstyle
PyDrive
pyee
pyerfa
pyflakes
PyGetWindow
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
PyMsgBox
pynput
pyobjc
pyobjc-core
pyobjc-framework-Accessibility
pyobjc-framework-Accounts
pyobjc-framework-AddressBook
pyobjc-framework-AdServices
pyobjc-framework-AdSupport
pyobjc-framework-AppleScriptKit
pyobjc-framework-AppleScriptObjC
pyobjc-framework-ApplicationServices
pyobjc-framework-AppTrackingTransparency
pyobjc-framework-AudioVideoBridging
pyobjc-framework-AuthenticationServices
pyobjc-framework-AutomaticAssessmentConfiguration
pyobjc-framework-Automator
pyobjc-framework-AVFoundation
pyobjc-framework-AVKit
pyobjc-framework-AVRouting
pyobjc-framework-BackgroundAssets
pyobjc-framework-BrowserEngineKit
pyobjc-framework-BusinessChat
pyobjc-framework-CalendarStore
pyobjc-framework-CallKit
pyobjc-framework-CFNetwork
pyobjc-framework-Cinematic
pyobjc-framework-ClassKit
pyobjc-framework-CloudKit
pyobjc-framework-Cocoa
pyobjc-framework-Collaboration
pyobjc-framework-ColorSync
pyobjc-framework-Contacts
pyobjc-framework-ContactsUI
pyobjc-framework-CoreAudio
pyobjc-framework-CoreAudioKit
pyobjc-framework-CoreBluetooth
pyobjc-framework-CoreData
pyobjc-framework-CoreHaptics
pyobjc-framework-CoreLocation
pyobjc-framework-CoreMedia
pyobjc-framework-CoreMediaIO
pyobjc-framework-CoreMIDI
pyobjc-framework-CoreML
pyobjc-framework-CoreMotion
pyobjc-framework-CoreServices
pyobjc-framework-CoreSpotlight
pyobjc-framework-CoreText
pyobjc-framework-CoreWLAN
pyobjc-framework-CryptoTokenKit
pyobjc-framework-DataDetection
pyobjc-framework-DeviceCheck
pyobjc-framework-DictionaryServices
pyobjc-framework-DiscRecording
pyobjc-framework-DiscRecordingUI
pyobjc-framework-DiskArbitration
pyobjc-framework-DVDPlayback
pyobjc-framework-EventKit
pyobjc-framework-ExceptionHandling
pyobjc-framework-ExecutionPolicy
pyobjc-framework-ExtensionKit
pyobjc-framework-ExternalAccessory
pyobjc-framework-FileProvider
pyobjc-framework-FileProviderUI
pyobjc-framework-FinderSync
pyobjc-framework-FSEvents
pyobjc-framework-GameCenter
pyobjc-framework-GameController
pyobjc-framework-GameKit
pyobjc-framework-GameplayKit
pyobjc-framework-HealthKit
pyobjc-framework-ImageCaptureCore
pyobjc-framework-InputMethodKit
pyobjc-framework-InstallerPlugins
pyobjc-framework-InstantMessage
pyobjc-framework-Intents
pyobjc-framework-IntentsUI
pyobjc-framework-IOBluetooth
pyobjc-framework-IOBluetoothUI
pyobjc-framework-IOSurface
pyobjc-framework-iTunesLibrary
pyobjc-framework-KernelManagement
pyobjc-framework-LatentSemanticMapping
pyobjc-framework-LaunchServices
pyobjc-framework-libdispatch
pyobjc-framework-libxpc
pyobjc-framework-LinkPresentation
pyobjc-framework-LocalAuthentication
pyobjc-framework-LocalAuthenticationEmbeddedUI
pyobjc-framework-MailKit
pyobjc-framework-MapKit
pyobjc-framework-MediaAccessibility
pyobjc-framework-MediaLibrary
pyobjc-framework-MediaPlayer
pyobjc-framework-MediaToolbox
pyobjc-framework-Metal
pyobjc-framework-MetalFX
pyobjc-framework-MetalKit
pyobjc-framework-MetalPerformanceShaders
pyobjc-framework-MetalPerformanceShadersGraph
pyobjc-framework-MetricKit
pyobjc-framework-MLCompute
pyobjc-framework-ModelIO
pyobjc-framework-MultipeerConnectivity
pyobjc-framework-NaturalLanguage
pyobjc-framework-NetFS
pyobjc-framework-Network
pyobjc-framework-NetworkExtension
pyobjc-framework-NotificationCenter
pyobjc-framework-OpenDirectory
pyobjc-framework-OSAKit
pyobjc-framework-OSLog
pyobjc-framework-PassKit
pyobjc-framework-PencilKit
pyobjc-framework-PHASE
pyobjc-framework-Photos
pyobjc-framework-PhotosUI
pyobjc-framework-PreferencePanes
pyobjc-framework-PushKit
pyobjc-framework-Quartz
pyobjc-framework-QuickLookThumbnailing
pyobjc-framework-ReplayKit
pyobjc-framework-SafariServices
pyobjc-framework-SafetyKit
pyobjc-framework-SceneKit
pyobjc-framework-ScreenCaptureKit
pyobjc-framework-ScreenSaver
pyobjc-framework-ScreenTime
pyobjc-framework-ScriptingBridge
pyobjc-framework-SearchKit
pyobjc-framework-Security
pyobjc-framework-SecurityFoundation
pyobjc-framework-SecurityInterface
pyobjc-framework-SensitiveContentAnalysis
pyobjc-framework-ServiceManagement
pyobjc-framework-SharedWithYou
pyobjc-framework-SharedWithYouCore
pyobjc-framework-ShazamKit
pyobjc-framework-Social
pyobjc-framework-SoundAnalysis
pyobjc-framework-Speech
pyobjc-framework-SpriteKit
pyobjc-framework-StoreKit
pyobjc-framework-Symbols
pyobjc-framework-SyncServices
pyobjc-framework-SystemConfiguration
pyobjc-framework-SystemExtensions
pyobjc-framework-ThreadNetwork
pyobjc-framework-UniformTypeIdentifiers
pyobjc-framework-UserNotifications
pyobjc-framework-UserNotificationsUI
pyobjc-framework-VideoSubscriberAccount
pyobjc-framework-VideoToolbox
pyobjc-framework-Virtualization
pyobjc-framework-Vision
pyobjc-framework-WebKit
pyodbc
pyOpenSSL
pyparsing
pyperclip
PyQt5
PyQt5-sip
PyQtWebEngine
PyRect
PyScreeze
PySocks
pyspellchecker
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytweening
pytz
pyu2f
pyviz_comms
PyWavelets
pywhatkit
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
rank-bm25
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rich
roboflow
rope
rpds-py
rsa
Rtree
ruamel.yaml
ruamel.yaml.clib
ruamel-yaml-conda
rubicon-objc
s3fs
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
selenium
semver
Send2Trash
sentence-transformers
sentencepiece
service-identity
setuptools
shap
shellingham
sip
six
slicer
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly
stack-data
statsmodels
stopit
streamlit
swifter
sympy
tables
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
text-unidecode
textblob
textdistance
textsearch
tf_keras
thinc
thinc_apple_ops
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
torchaudio
torchvision
tornado
TPOT
tqdm
traitlets
transformers
trio
trio-websocket
truststore
Twisted
typer
typing_extensions
typing-inspect
tzdata
tzlocal
uc-micro-py
ucimlrepo
ujson
unicodedata2
Unidecode
update-checker
uri-template
uritemplate
urllib3
validators
w3lib
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
whatthepatch
wheel
widgetsnbextension
wikipedia
wrapt
wsproto
wurlitzer
xarray
xgboost
xlrd
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
