pandas
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
googletrans
textblob
tqdm
nltk
matplotlib
matplotlib-inline
safetensors
scikit-image
scikit-learn
scipy
seaborn
gensim
joblib
streamlit
sentence-transformers
tensorflow
tensorflow-io-gcs-filesystem
transformers